{% extends "estructura/principal.html" %}

{% block contenido %} 
{% load bootstrap5 %}
    <form action = "{% url 'usuario_buscar_avanzado' %}" method = "GET"> 
        
        {% csrf_token %}

        <div class="mb-4">
            {% bootstrap_field formulario.textoBusqueda show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.rangoEdad show_label=True %}
        </div>

        <div class="mb-4">
            {% bootstrap_field formulario.sexo show_label=True %}
        </div>


        <button type="submit" class="btn btn-primary" >Enviar</button>
    </form>

{% endblock contenido %}