{% extends "estructura/principal.html" %}

{% block contenido %}

        {% for cuenta in  listar_cuentas %}
        
        <div>
                <h1>Nombre Banco: {{ cuenta.nombre }}</h1>
                
                <h2>Numero aunq no es bueno mostrar esto: {{ cuenta.numero }}</h2> 

                <h2>Usuario: {{ cuenta.usuario.nombre }}</h2>
    
                <p>-----------------------------------------------------------------------</p>
                <br>
    
            </div>

        {% endfor %}
{% endblock contenido %}


            
