<nav>
    <ul>
        <li><a href={% url 'ultimo_voto_equipo' 2 %}>ultimo_voto_equipo del equipo 2</a></li>

        <li><a href={% url 'equipos_votos_superior_3_usuario' 1 %}>equipos_votos_superior_3_usuario del usuario 1</a></li>

        <li><a href={% url 'usuario_sin_voto' %}>usuario_sin_voto</a></li>

        <li><a href={% url 'cuentas_con_texto' "juan"%}>cuentas_con_texto "juan"</a></li>

        <li><a href={% url 'media_votacion_superior' %}>media_votacion_superior </a></li>
      
    </ul>
</nav>